In [1]:
import pandas as pd

In [2]:
emp_data = pd.read_csv("C:/Users/Sharvari/Data/employee_data.csv")
insurance_data = pd.read_csv("C:/Users/Sharvari/Data/insurance_data.csv")
vendor_data = pd.read_csv("C:/Users/Sharvari/Data/vendor_data.csv")

In [3]:
# Task-1
view_df = insurance_data.merge(emp_data, on='AGENT_ID', how='left').merge(vendor_data, on='VENDOR_ID', how='left')

In [4]:
# Task-2
top_three_claims = view_df['INSURANCE_TYPE'].value_counts().sort_values(ascending=False)
top_three_claims = top_three_claims.reset_index()
print("\nAnswer->  Top 3 Insurance Type with most insurance Claims :\n", (top_three_claims.head(3)))

Answer->  Top 3 Insurance Type with most insurance Claims :
       index  INSURANCE_TYPE
0  Property            1692
1    Mobile            1692
2    Health            1690

In [5]:
# Task-3
cust_with_high_seg = insurance_data.copy()
cust_with_high_seg = cust_with_high_seg[cust_with_high_seg['RISK_SEGMENTATION'] == 'H']
top_five_claims = cust_with_high_seg['STATE'].value_counts()
top_five_claims = top_five_claims.reset_index()
print("\nAnswer->  Top 5 States with most insurance Claims for Customer belonging to HIGH(H) risk segment:\n", top_five_claims.head(5))

Answer->  Top 5 States with most insurance Claims for Customer belonging to HIGH(H) risk segment:
   index  STATE
0    CA    148
1    AZ    105
2    FL    104
3    TN    100
4    AR     97

In [6]:
# Task-4
COLOCATION_df = view_df.copy()
COLOCATION_df['COLOCATION'] = 0
COLOCATION_df.loc[(COLOCATION_df['STATE_x'] == COLOCATION_df['INCIDENT_STATE']) &
                  (COLOCATION_df['INCIDENT_STATE'] == COLOCATION_df['STATE_y']), 'COLOCATION'] = 1

In [7]:
COLOCATION_df

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,COLOCATION
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0,0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0,0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0,0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,72703,35413882,LFOJ76068590051807,NaN,NaN,NaN,NaN,NaN,NaN,0
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,31405,91206790,AHEF60771774635030,"Newton, Hodges and Henry",32512 Christine Drive,NaN,Union City,CA,94587.0,0
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,40272,115241097,WREH18805592939657,Reese-Mckinney,20 Garfield Street,NaN,Needham,MA,2492.0,0
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,72703,13995380,AAZI21883736448048,"Harmon, Manning and Bradley",1823 Dinger Road,NaN,Annapolis,MD,21402.0,0
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,73003,39790996,RPES05613584687957,Foster-Sanchez,4255 Tanager Common,NaN,Fremont,CA,94555.0,0

In [8]:
print("\nAnswer->  Mean of COLOCATION Column : ", COLOCATION_df['COLOCATION'].mean())

Answer->  Mean of COLOCATION Column :  0.0044

In [9]:
# Task-5
auth_contacted = view_df.copy()
auth_contacted.loc[(auth_contacted['AUTHORITY_CONTACTED'] != 'Police') &
                   auth_contacted['POLICE_REPORT_AVAILABLE'] == 1, 'AUTHORITY_CONTACTED'] = 'Police'

In [10]:
auth_contacted

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,STATE_y,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,TN,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,AZ,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,AL,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,OK,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,MD,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,AR,72703,35413882,LFOJ76068590051807,NaN,NaN,NaN,NaN,NaN,NaN
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,GA,31405,91206790,AHEF60771774635030,"Newton, Hodges and Henry",32512 Christine Drive,NaN,Union City,CA,94587.0
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,KY,40272,115241097,WREH18805592939657,Reese-Mckinney,20 Garfield Street,NaN,Needham,MA,2492.0
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,AR,72703,13995380,AAZI21883736448048,"Harmon, Manning and Bradley",1823 Dinger Road,NaN,Annapolis,MD,21402.0
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,OK,73003,39790996,RPES05613584687957,Foster-Sanchez,4255 Tanager Common,NaN,Fremont,CA,94555.0

In [11]:
# Task-6
# Latest date in data
claim_deviation_df = view_df.copy()
claim_deviation_df.TXN_DATE_TIME.max()

'2021-06-30 00:00:00'

In [12]:
claim_deviation_df['TXN_DATE_TIME'] = pd.to_datetime(claim_deviation_df['TXN_DATE_TIME'])
Current_date = pd.to_datetime('2021-06-30')

In [13]:
Last_30_Days = claim_deviation_df.loc[(claim_deviation_df['TXN_DATE_TIME'] > '2021-05-30') & (claim_deviation_df['TXN_DATE_TIME'] < '2021-06-30')]

In [14]:
avg_claim = Last_30_Days.groupby('INSURANCE_TYPE').mean()['CLAIM_AMOUNT'].to_dict()

In [15]:
def claim_amnt_deviation(row):
    if (Current_date - row['TXN_DATE_TIME'])<pd.Timedelta(days=30):
        return -1
    claim_amnt_deviation = avg_claim[row['INSURANCE_TYPE']] / row['CLAIM_AMOUNT']
    if claim_amnt_deviation < 0.5:
        return 1
    else:
        return 0

In [16]:
claim_deviation_df['claim_amnt_deviation'] = claim_deviation_df.apply(claim_amnt_deviation,axis=1)

In [17]:
claim_deviation_df

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,claim_amnt_deviation
0,2020-06-01,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0
1,2020-06-01,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0,0
2,2020-06-01,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0,0
3,2020-06-01,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0,0
4,2020-06-01,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,72703,35413882,LFOJ76068590051807,NaN,NaN,NaN,NaN,NaN,NaN,-1
9996,2021-06-30,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,31405,91206790,AHEF60771774635030,"Newton, Hodges and Henry",32512 Christine Drive,NaN,Union City,CA,94587.0,-1
9997,2021-06-30,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,40272,115241097,WREH18805592939657,Reese-Mckinney,20 Garfield Street,NaN,Needham,MA,2492.0,-1
9998,2021-06-30,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,72703,13995380,AAZI21883736448048,"Harmon, Manning and Bradley",1823 Dinger Road,NaN,Annapolis,MD,21402.0,-1
9999,2021-06-30,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,73003,39790996,RPES05613584687957,Foster-Sanchez,4255 Tanager Common,NaN,Fremont,CA,94555.0,-1

In [18]:
claim_deviation_df.claim_amnt_deviation.value_counts()

 0    9216
-1     784
Name: claim_amnt_deviation, dtype: int64

In [19]:
# Task-7
agent_ins = view_df.copy()

# get count of insurance type
get_count = agent_ins.groupby(['AGENT_ID'])['INSURANCE_TYPE'].nunique()

# get agents having more than 2 insurance types
ins_type_more_than_two = get_count[(get_count != 2) & (get_count > 2)]
agents_with_multi_ins = ins_type_more_than_two.to_frame()

# get mandatory info related to agent having more than 2 ins type
agent_with_claim = agents_with_multi_ins.merge(view_df, on='AGENT_ID', how='left')
agent_with_claim = agent_with_claim[['AGENT_ID', 'AGENT_NAME', 'CLAIM_AMOUNT', 'INSURANCE_TYPE_y']]

# get total claim amount in descending order approved under agents
final_agents = agent_with_claim.groupby(['AGENT_ID', 'AGENT_NAME'])['CLAIM_AMOUNT'].sum().sort_values(ascending=False).to_frame()
final_agents = final_agents.join(agents_with_multi_ins['INSURANCE_TYPE'])

In [20]:
final_agents

                             CLAIM_AMOUNT  INSURANCE_TYPE
AGENT_ID   AGENT_NAME
AGENT00807 Don Filkins             528800               6
AGENT00679 Clara Barnett           489000               4
AGENT00771 Roger Burns             422100               5
AGENT00125 Salvador Soriano        400400               4
AGENT00789 Alison Baron            392900               4
...                                   ...             ...
AGENT00910 Vincent Ragan            15500               3
AGENT00689 Connie Hunt              13700               3
AGENT00732 Sylvia Tran              11300               3
AGENT00706 Laura Staggs             10800               3
AGENT00604 Thelma Salinas            5500               3

[1164 rows x 2 columns]

In [21]:
# Task-8
all_ins_prem = view_df.copy()
total_ins_prem = all_ins_prem.groupby('INSURANCE_TYPE')['PREMIUM_AMOUNT'].sum().to_frame()
total_ins_prem = total_ins_prem.reset_index()
total_ins_prem.loc[(total_ins_prem['INSURANCE_TYPE'] == 'Mobile'), 'Discount by %'] = total_ins_prem['PREMIUM_AMOUNT']*(10/100)
total_ins_prem.loc[(total_ins_prem['INSURANCE_TYPE'] == 'Travel'), 'Discount by %'] = total_ins_prem['PREMIUM_AMOUNT']*(10/100)

total_ins_prem.loc[(total_ins_prem['INSURANCE_TYPE'] == 'Health'), 'Increased by %'] = total_ins_prem['PREMIUM_AMOUNT']*(7/100)
total_ins_prem.loc[(total_ins_prem['INSURANCE_TYPE'] == 'Property'), 'Increased by %'] = total_ins_prem['PREMIUM_AMOUNT']*(7/100)
total_ins_prem.loc[(total_ins_prem['INSURANCE_TYPE'] == 'Life'), 'Increased by %'] = total_ins_prem['PREMIUM_AMOUNT']*(2/100)
total_ins_prem.loc[(total_ins_prem['INSURANCE_TYPE'] == 'Motor'), 'Increased by %'] = total_ins_prem['PREMIUM_AMOUNT']*(2/100)

total_ins_prem.loc[(total_ins_prem['INSURANCE_TYPE'] == 'Mobile') | (total_ins_prem['INSURANCE_TYPE'] == 'Travel'),
                   'After Discount or Increased'] = total_ins_prem['PREMIUM_AMOUNT'] - total_ins_prem['Discount by %']

total_ins_prem.loc[(total_ins_prem['INSURANCE_TYPE'] == 'Health') | (total_ins_prem['INSURANCE_TYPE'] == 'Property') |
                   (total_ins_prem['INSURANCE_TYPE'] == 'Life') | (total_ins_prem['INSURANCE_TYPE'] == 'Motor'),
                   'After Discount or Increased'] = total_ins_prem['PREMIUM_AMOUNT'] + total_ins_prem['Increased by %']
total_ins_prem['After Discount or Increased'] = total_ins_prem['After Discount or Increased'].round(decimals=2)
overall_prem_amnt = total_ins_prem['PREMIUM_AMOUNT'].sum()
overall_discount = total_ins_prem['After Discount or Increased'].sum()
percentage_diff = ((overall_discount - overall_prem_amnt) / overall_prem_amnt) * 100
percentage_diff = percentage_diff.round(decimals=2)
print(total_ins_prem.to_string())
print("\nOverall Premium Amount = ", overall_prem_amnt, "\nOverall Discount Amount = ", overall_discount,
      "\nOverall Percentage Change of the Premium Amount Collected = ", percentage_diff, "%")

  INSURANCE_TYPE  PREMIUM_AMOUNT  Discount by %  Increased by %  After Discount or Increased
0         Health       252455.73            NaN      17671.9011                    270127.63
1           Life       125621.22            NaN       2512.4244                    128133.64
2         Mobile        15191.42       1519.142             NaN                     13672.28
3          Motor       165391.98            NaN       3307.8396                    168699.82
4       Property       202285.83            NaN      14160.0081                    216445.84
5         Travel       124139.77      12413.977             NaN                    111725.79

Overall Premium Amount =  885085.95
Overall Discount Amount =  908805.0000000001
Overall Percentage Change of the Premium Amount Collected =  2.68 %

In [22]:
# Task-9
cust_df = view_df.copy()
cust_df['ELIGIBLE_FOR_DISCOUNT'] = 0
cust_df.loc[(cust_df['TENURE'] > 60) & (cust_df['EMPLOYMENT_STATUS'] == 'N') & (cust_df['NO_OF_FAMILY_MEMBERS'] >= 4),
            'ELIGIBLE_FOR_DISCOUNT'] = 1

In [23]:
cust_df

,TXN_DATE_TIME,TRANSACTION_ID,CUSTOMER_ID,POLICY_NUMBER,POLICY_EFF_DT,LOSS_DT,REPORT_DT,INSURANCE_TYPE,PREMIUM_AMOUNT,CLAIM_AMOUNT,...,POSTAL_CODE_y,EMP_ROUTING_NUMBER,EMP_ACCT_NUMBER,VENDOR_NAME,ADDRESS_LINE1,ADDRESS_LINE2,CITY,STATE,POSTAL_CODE,ELIGIBLE_FOR_DISCOUNT
0,2020-06-01 00:00:00,TXN00000001,A00003822,PLC00008468,2015-06-23,2020-05-16,2020-05-21,Health,157.13,9000,...,37217,35441155,LRZO53254369804934,Ramsey Inc,3114 West 20th Court,NaN,Panama City,FL,32405.0,0
1,2020-06-01 00:00:00,TXN00000002,A00008149,PLC00009594,2018-04-21,2020-05-13,2020-05-18,Property,141.71,26000,...,85301,44055451,XBYG14382904542874,"Morales, Campbell and Washington",42 West Louise Street,B,Fayetteville,AR,72701.0,0
2,2020-06-01 00:00:00,TXN00000003,A00003172,PLC00007969,2019-10-03,2020-05-21,2020-05-26,Property,157.24,13000,...,36105,55770246,WRXH14597428306333,Johnson Ltd,2619 North Quality Lane,#315,Fayetteville,AR,72703.0,0
3,2020-06-01 00:00:00,TXN00000004,A00007572,PLC00009292,2016-11-29,2020-05-14,2020-05-19,Health,172.87,16000,...,73071,87652976,YEPN16077902472499,Blackwell-Foster,3609 Meadow Drive,NaN,Nashville,TN,37215.0,0
4,2020-06-01 00:00:00,TXN00000005,A00008173,PLC00000204,2011-12-26,2020-05-17,2020-05-22,Travel,88.53,3000,...,21061,76119019,HZBK86544578578547,Evans-Scott,4001 19th Place Northeast,NaN,Washington,DC,20018.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2021-06-30 00:00:00,TXN00009996,A00006029,PLC00007245,2014-04-11,2021-06-25,2021-06-26,Motor,105.75,1000,...,72703,35413882,LFOJ76068590051807,NaN,NaN,NaN,NaN,NaN,NaN,0
9996,2021-06-30 00:00:00,TXN00009997,A00003555,PLC00002590,2015-08-25,2021-06-12,2021-06-17,Life,64.59,67000,...,31405,91206790,AHEF60771774635030,"Newton, Hodges and Henry",32512 Christine Drive,NaN,Union City,CA,94587.0,0
9997,2021-06-30 00:00:00,TXN00009998,A00004230,PLC00006613,2018-10-11,2021-06-18,2021-06-23,Health,183.50,8000,...,40272,115241097,WREH18805592939657,Reese-Mckinney,20 Garfield Street,NaN,Needham,MA,2492.0,0
9998,2021-06-30 00:00:00,TXN00009999,A00006694,PLC00001781,2016-01-29,2021-06-16,2021-06-21,Motor,113.46,2000,...,72703,13995380,AAZI21883736448048,"Harmon, Manning and Bradley",1823 Dinger Road,NaN,Annapolis,MD,21402.0,0
9999,2021-06-30 00:00:00,TXN00010000,A00000390,PLC00005197,2014-09-17,2021-06-21,2021-06-24,Mobile,8.22,300,...,73003,39790996,RPES05613584687957,Foster-Sanchez,4255 Tanager Common,NaN,Fremont,CA,94555.0,0

In [24]:
print("\nAnswer->  Mean of ELIGIBLE_FOR_DISCOUNT Column : ", cust_df['ELIGIBLE_FOR_DISCOUNT'].mean())

Answer->  Mean of ELIGIBLE_FOR_DISCOUNT Column :  0.0299

In [25]:
# Task-10
Current_date

Timestamp('2021-06-30 00:00:00')

In [26]:
df = view_df.copy()

In [27]:
df['TXN_DATE_TIME'] = pd.to_datetime(df['TXN_DATE_TIME'])

In [28]:
Last_3_Days = df.loc[(df['TXN_DATE_TIME'] > Current_date-pd.Timedelta(days=4)) & (df['TXN_DATE_TIME'] < Current_date)]

In [29]:
Claims_In_Last_30_Days = pd.DataFrame.from_dict(Last_30_Days[Last_30_Days['CLAIM_STATUS']=='A'].groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST30DAYS'])
Claims_In_Last_3_Days = pd.DataFrame.from_dict(Last_3_Days[Last_3_Days['CLAIM_STATUS']=='A'].groupby('INSURANCE_TYPE').size().to_dict(),orient='index',columns=['NO_OF_CLAIMS_IN_LAST3DAYS'])
Approved_Claims = Claims_In_Last_30_Days.join(Claims_In_Last_3_Days)
Approved_Claims['CLAIM_VELOCITY'] = Approved_Claims['NO_OF_CLAIMS_IN_LAST30DAYS']/Approved_Claims['NO_OF_CLAIMS_IN_LAST3DAYS']

In [30]:
Approved_Claims

,NO_OF_CLAIMS_IN_LAST30DAYS,NO_OF_CLAIMS_IN_LAST3DAYS,CLAIM_VELOCITY
Health,128,14,9.142857
Life,128,12,10.666667
Mobile,127,9,14.111111
Motor,117,12,9.750000
Property,125,12,10.416667
Travel,123,14,8.785714

In [31]:
# Task-11
Lowest_5 = df.groupby('AGENT_ID').sum().quantile(0.05)['CLAIM_AMOUNT']
Agent_Total_Data = df.groupby('AGENT_ID').sum()
#Low performing agent data
Low_Performing_Agents = Agent_Total_Data[Agent_Total_Data['CLAIM_AMOUNT'] <= Lowest_5][['CLAIM_AMOUNT']]
Low_Performing_Agents

            CLAIM_AMOUNT
AGENT_ID
AGENT00006         22400
AGENT00014          7400
AGENT00016         27000
AGENT00085         25700
AGENT00088         27700
AGENT00091         30000
AGENT00098         28200
AGENT00134         22000
AGENT00149         28900
AGENT00156         13200
AGENT00172         22200
AGENT00185         16100
AGENT00186         27700
AGENT00188         28400
AGENT00197         18500
AGENT00252         20000
AGENT00263         11500
AGENT00275         16200
AGENT00279         28000
AGENT00300         12600
AGENT00310         28800
AGENT00316         22200
AGENT00351         21700
AGENT00425         17800
AGENT00442         30300
AGENT00536         20000
AGENT00562         21100
AGENT00571         24200
AGENT00585         16600
AGENT00590         22200
AGENT00604          5500
AGENT00621          5300
AGENT00628          6100
AGENT00672         21300
AGENT00689         13700
AGENT00706         10800
AGENT00721          9000
AGENT00732         11300
AGENT00773         15000
AGENT00780         11300
AGENT00790          6000
AGENT00804         20000
AGENT00805         22600
AGENT00830         23500
AGENT00841         17800
AGENT00856         24200
AGENT00894         27600
AGENT00910         15500
AGENT00969         28300
AGENT00985         30000
AGENT01021         24300
AGENT01037          5600
AGENT01052         28000
AGENT01077          4200
AGENT01107         24700
AGENT01128         28000
AGENT01131         27500
AGENT01151         28000
AGENT01154           800
AGENT01179         27300

In [32]:
# Task-12
Condition = (df['CLAIM_STATUS']=='A')&(df['RISK_SEGMENTATION']=='H')&(df['INCIDENT_SEVERITY']=='Major Loss')
Criteria= df[Condition]
Suspicious_Data = Criteria.groupby('AGENT_ID').sum()
Suspicious_Agents = list(Suspicious_Data[Suspicious_Data['CLAIM_AMOUNT']>=15000].index)
emp_data['SUSPICIOUS'] = 0
result = emp_data['AGENT_ID'].isin(Suspicious_Agents)
emp_data.loc[result,'SUSPICIOUS']=1
emp_data['SUSPICIOUS'].mean()

0.12416666666666666